<div id="footer_wrapper">
  <div id="footer">
    <ul class="footer_menu">
      <li> <%= link_to "Home", root_path %> </li>
      <li><a href="#">Products</a></li>
      <li class="last_menu"><a href="#">Contact</a></li>
    </ul>
    Copyright &copy; 2048 <a href="#">Nilesh's Store</a> | Designed by <a target="_blank" rel="nofollow" href="http://www.templatemo.com">templatemo</a></div>
  <!-- end of footer -->
</div>