<div id="sidebar">
    <div class="sidebar_top"></div>
    <div class="sidebar_bottom"></div>
    <div class="sidebar_section">
      <h2>Categories</h2>
      <ul class="categories_list">
        <li><a href="#">Mobiles</a></li>
        <li><a href="#">Tablets</a></li>
        <li><a href="#">Laptops</a></li>
        <li><a href="#">Computers</a></li>
        <li><a href="#">Headsets</a></li>
        <li><a href="#">Speakers</a></li>
        <li><a href="#">Routers</a></li>
        <li><a href="#">Power Banks</a></li>
        <li><a href="#">Smart Watches</a></li>
        <li><a href="#">Smart Bands</a></li>
        <li><a href="#">Printers and Inks</a></li>
        <li><a href="#">Monitors</a></li>
        <li><a href="#">Pen Drives</a></li>
        <li><a href="#">Mouse</a></li>
        <li><a href="#">Laptop Bags</a></li>
        <li><a href="#">Routers</a></li>
        <li><a href="#">Power Banks</a></li>
        <li><a href="#">Laptops</a></li>
        <li><a href="#">Computers</a></li>
        <li><a href="#">Headsets</a></li>
        <li><a href="#">Speakers</a></li>
        <li><a href="#">Routers</a></li>
        <li><a href="#">Smart Watches</a></li>
        <li><a href="#">Smart Bands</a></li>
        <li><a href="#">Printers and Inks</a></li>
        <li><a href="#">Monitors</a></li>
        <li><a href="#">Pen Drives</a></li>
        <li><a href="#">Mouse</a></li>
        <li><a href="#">Laptop Bags</a></li>
      </ul>
    </div>
  </div>